.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid #d6c1c1;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser{
    height: 20px;
    background-color: #d6c1c1;
    display: flex;
    align-items: center;
    position:sticky;
    z-index: 2;
}

.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.p-img{
    width: 100%;
    transition: all 5s ease;
}

.p:hover .p-img{
    transform: translateY(-100%);
}


@media  screen and (max-width: 480px) {
    .p{
        width: 40%;
        height: 20vh;
    }
}